@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 47, 79, 79; /* Koyu Arduvaz Grisi */
  --background-rgb: 245, 245, 245; /* Beyaz Duman */
}

body {
  font-family: 'Manrope', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}